.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
    height: 100%;
    width: 60%;
    left: 50%; 
    top: 50%; 
 
  }
  .header {
    position: relative;
    text-align: center;
    color: black;
  }

#forecast{
  align-items: center;

  margin: auto;

  background-color: lightblue;
  color: black;
  text-align: center;
}